################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter1-Functions/ConsoleApp1/bin/Debug/netcoreapp1.0
/Chapter1-Functions/ConsoleApp1/obj/Debug/netcoreapp1.0
*.user
/Chapter1-Functions/.vs
*.TMP
